/* Primary buttons */

.button {
    border: 2px outset transparent;
    text-shadow: rgba(0, 0, 0, 1) 0 0 1rem;
    box-shadow: 0.5rem 0.5rem 0.75rem #cbced1, -0.5rem -0.5rem 0.75rem white;
    background: linear-gradient(-30deg, #7429c6, #c554e7);
    transition: opacity 240ms linear, border 240ms linear, transform 240ms ease,
        box-shadow 240ms ease;
    opacity: 0.85;
}

.button:focus,
.button:hover {
    outline: none;
    opacity: 1;
    border: 2px outset rgba(197, 84, 231, 0.66);
    box-shadow: 0px 2px 1rem rgba(197, 84, 231, 0.66),
        -0.5rem -0.5rem 0.75rem white;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 0.25rem rgba(197, 84, 231, 0.66),
        -0.5rem -0.5rem 0.75rem white;
}

/* Text buttons */

.textButton {
    &:focus,
    &:hover {
        outline: none;
    }
}

/* Modal */

.modalTitle::before {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: -1.75em;
    background: url("/icons/icon_x48.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.safariShare::before {
    content: "";
    width: 1rem;
    height: 1.5rem;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url("/assets/safari-share.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Forms */

.select {
    @apply py-2 px-3 w-full max-w-md text-lg border rounded-md border-slate-300 text-slate-800
                placeholder:text-slate-400
                focus:outline-none focus:border-purple-400 focus:shadow-[inset_0_0_0.25rem_rgb(216,180,254)];
    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(148 163 184)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1em;
}

/* Social links */

.socialLink {
    cursor: pointer;
}

/* Carousel */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
